# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

home-assistant_v2.db*
home-assistant.log

.vscode
.DS_Store

www/community
*.pyc